@import "tailwindcss";

:root {
  @apply bg-[#212121] text-white/87;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  @apply h-1.5 w-1.5;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-[#555555];
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#777777];
}

* {
  scrollbar-width: thin;
  scrollbar-color: #555555 transparent;
  transition: border-color 0.25s;
}

button {
  @apply rounded-lg border border-transparent px-5 py-2 text-xs font-medium text-[#f1f1f1] bg-[#171717] cursor-pointer;
}

button, input, textarea {
  &:hover, &:active, &:focus {
    @apply border-[#646cff] outline-none;
  }
}

input, .input {
  @apply text-[#f1f1f1] bg-[#303030] border border-[#303030] rounded-md;
}

h1 {
  &:hover {
    filter: drop-shadow(0 0 2rem #646cffaa);
  }
}

.app-logo, .generated {
  filter: drop-shadow(0 0 2rem #646cffaa);
}

::selection,
::-moz-selection {
  @apply bg-[#646cff] text-white;
}

#preview {
  all: unset;

  img, svg {
    @apply inline;
  }

  table, tr, td {
    &:hover {
      outline: 1px dashed #008A50;
    }
  }
}
